<main>

  <h2>Edit User</h2>
<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <%= attachment_image_tag @user, :user_image, :fill, 300, 300, class: "img-circle pull-left profile-thumb img-responsive center-block", fallback: "no_image.jpg" %>
      </div>
    <div class="col-md-7">
      <%= form_with model:@user, local:true do |f| %>
      <h4>User Imege</h4>
      <%= f.attachment_field :user_image %>
      <h4>Name</h4>
      <%= f.text_field :name, class:"form-control" %>
      <h4>Profile</h4>
      <%= f.text_area :profile_comment, class:"form-control" %>
       <button type="submit" class="btn"><i class="fa fa-building-o"></i>更新</button>
    <% end %>

  </div>
  </div>
  </div>
  </div>
</main>
