<!DOCTYPE html>
<% if flash[:notice] %>
   <div class="flash">
        <%= flash[:notice] %>
      </div>
<% end %>
  <header>
    <h1>Books</h1>
  </header>
  <body>
    <main>
        <table>
          <tr>
          <th width"30px">Title</th>
          <th widtth"40px"> Body</th>
          <th width"40px"></th>
          </tr>
       <% @books.each do |book| %>
        <tr>
          <td ><%= book.title %></td>
          <td ><%= book.body %></td>
             <td class="list-item"><%= link_to 'Show', book_path(book.id) %></td>
             <td class="list-item"><%= link_to 'Edit', edit_book_path(book.id) %></td>
             <td class="list-item"><%= link_to 'Destroy', book_path(book.id), method: :delete %></td>
        </tr>
       <% end %>
        </table>
       <div class="post">
        <h2>New book</h2>
        <!-- form_with 挿入-->
         <% if @book.errors.any? %>
         <h5><%= pluralize(@book.errors.count, "error") %> prohibited this product from being saved:</h5>
  <div class="alert alert-warning">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
        <%= form_with model:@book, local:true do |f| %>

        <h4>Title</h4>
        <%= f.text_field :title %>

        <h4>Body</h4>
        <%= f.text_area :body %>
        <%= f.submit 'Create Book' %>
        <% end %>
       </div>
    </main>
  </body>