<main>
  <h2>Edit Tweet</h2>
<div class="main-container">
<%= attachment_image_tag @post, :image, :fill, 300, 300, class: "img-responsive center-block" %>
    
  <%= form_with model:@post, local:true do |f| %>
  <h4>Picture</h4>
  <%= f.attachment_field :image %>
  <%= f.text_area :tweet %>
  <%= f.submit 'Tweet' %>

  <% end %>
  </div>
  </main>