<main>

    <!-- Tweet -->

  <h2><i class="fas fa-feather-alt"></i>Tweet</h2>
  <div class="main-container">
  <table class="table">
    <thead>
      <tr>
        <th>
         <%= attachment_image_tag @user, :user_image, :fill, 50, 50, format: 'jpeg', class: "img-circle pull-left profile-img",fallback: "no_image.jpg" %>
         By <%= @user.name %>
         </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= attachment_image_tag @post, :image, :fill, 350, 350, format: 'jpeg', class: "img-responsive center-block" %></td>
      </tr>
      <tr>
        <td><%= @post.tweet %></td>
      </tr>
      </tbody>
      </table>
    <ol>
      <li class="tweet-list-item">
         <%= @post.created_at.strftime('%Y/%m/%d/%T') %>
      </li>

          <% if @post.favorited_by?(current_user) %>
          <li class="tweet-list-item">
            <%=link_to post_favorites_path(@post), method: :delete do %>
            <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
            <%= @post.favorites.count %>いいね
          <% end %>
          </li>
          <% else %>
          <li class="tweet-list-item">
              <%= link_to post_favorites_path(@post),method: :post do %>
              <i class="far fa-heart" aria-hidden="true"></i>
              <%= @post.favorites.count %>いいね
         <% end %>
          </li>
         <% end %>
      <li class="tweet-list-item">
        <i class="fas fa-comment"></i><a href="#comments"><%= @post.post_comments.count %>件</a>
      </li>
       <% if @post.user == current_user %>
      <li class="tweet-list-item"><%= link_to "編集", edit_post_path(@post.id) %></li>
      <li class="tweet-list-item"><%= link_to "削除", post_path(@post.id), method: :delete %></li>
       <% end %>
     </ol>
     </div>
     <!-- Post-Comments- -->
    <div class="main-container">
    <div class="post-nav">
    <h3 class="comment-count"><%= @post.post_comments.count %>件コメント</h3>
     <% @post.post_comments.each do |post_comment| %>
     <table class="table">
       <thead>
         <tr>
           <th><%= post_comment.user.name %></th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td><%= post_comment.created_at.strftime('%Y/%m/%d/%T') %></td>
         </tr>
         <tr>
           <td> <%= post_comment.comment %></td>
         </tr>
         <tr>
            <td>
              <% if post_comment.user == current_user %>
              <%=link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
              <% end %>
            </td>
          </tr>
       </tbody>
      </table>
      <% end %>
     </div>
     </div>

     <!-- Create-Comment -->

     <h2><i class="fas fa-comment"></i>Comment</h2>
      <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
      <%= f.text_area :commentclass, class:"form-control"%>
      <button type="submit" class="btn"><i class="fa fa-building-o"></i>送信</button>
      <% end %>

 </main>